# Environment
.env
venv/
.venv/

# Data & DB
db/
data/books/
data/processed/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Type checking / linting
.mypy_cache/
.ruff_cache/

# Testing
.pytest_cache/
htmlcov/
.coverage
